.visible {
    visibility: visible;

}
.hidden {
    visibility: hidden;

}

.op_1 {
    opacity: 1;
}

.op_0 {
    opacity: 0;

}
.op_05 {
    opacity: 0.5;
}

.none {
    display:none;
    font-weight: bolder;
}

.block {
    display:grid;
    font-weight: lighter;
}

h3 {
    background-color: chocolate;
    text-align: right;
}

