p:hover {
    color:yellowgreen;
    font-weight: lighter;

}

p::before { 
    content:"hi!";
    color:palevioletred;
    font-weight: bolder;


}

p::after {
    content:"bye!";
    color:green;
    font-weight:lighter;
}

p::selection {
    background-color: blanchedalmond;
    color:white;
}
